//colors
$color-primary-300:#000000;
$color-secondary-300:#ffffff;
$color-three-300:#0000ff;
$color-four-300:#2d2da1;
$color-five-300:#8f9df7;


//spacing

$spc-0:0;
$spc-1:4px;
$spc-2:8px;
$spc-3:12px;
$spc-4:16px;
$spc-5:20px;
$spc-6:24px;
$spc-7:28px;
$spc-8:32px;
$spc-9:36px;
$spc-10:40px;
$spc-11:50px;
$spc-100:100px;
$spc-20:2%;
$spc-200:20%;
$spc-300:30%;
$spc-350:35%;
$spc-400:40%;
$spc-500:50%;
$spc-600:60%;
$spc-700:70%;
$spc-800:80%;
$spc-900:90%;
$spc-1000:1000%;
$spc-full:100%;
$spc-half:50%;

//breckpoint

$brp-10:480px;
$brp-20:500px;
$brp-30:800px;
$brp-40:1000px;
$brp-50:1200px;

//font size
$font-s-10:16px;

